body, html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F8F4F4;
  font-family: 'Lora', serif;
}

#content {
  height: 100vh;
  margin: 0 30px;
}

#pictures {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;
}

.item1 img, .item2 img{
/* height: 400px; */
width: 100%;
}

h1 {
  text-align: center;
}


.column1 {
  /* margin-bottom: 30px; */
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;

}
.column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
}
.sidenav {
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: #111;
 overflow-x: hidden;
 transition: 0.5s;
 padding-top: 60px;
}

.sidenav a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
 transition: 0.3s;
}

.sidenav a:hover {
 color: #f1f1f1;
}

.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}
.menu{
 font-size: 45px;
 top: 0%;
 right: 0%;
 color: black;
 text-decoration: none;
 position: fixed;
}
 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.menu{
  font-size: 45px;
  top: 0%;
  left: 10px;
  color: black;
  text-decoration: none;
  position: fixed;

}

.blowup{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.blowup img{
  flex: none;
  height: 440px;
  width: 420px;
  object-fit: cover;

}
.line{
  display: block;
  margin: 0 auto;
}
